* {
	box-sizing: border-box;
}

.container {
	max-width: 1084px;
	margin: 0 auto;
	padding: 0 40px;
}

.some-container {
	max-width: 1084px;
	margin: 0 auto;
	padding: 0 0px;
}

.container:after {
	display: block;
	content: '';
	clear: both;
}

.wrapper {
	overflow: hidden;
	min-width: 320px;
}

.header {
	background: url(../img/main-bg.jpg) center;
	background-size: cover;
}

.menu {
	max-width: 77%;
	min-width: 768px;
	margin: 0px auto;
	display: table-row;
	float: left;
	margin-left: 4%;
}

.logo {
	float: left;
	width: 18%;
	margin-top: 10px;
}

.logo a {
	text-decoration: none;
}

.logo p {
	font-size: 18px;
	font-family: 'calibri', sans-serif;
	text-align: center;
	color: #4E4E46;
	letter-spacing: 2px;
}

.logo-header {
	font-size: 36px;
	color: #4E4E46;
	font-family: 'calibri', sans-serif;
	font-weight: 400;
	text-align: center;
}

.menu li {
	display: table-cell;
	width: auto;
	height: 50px;
	text-align: center;
	vertical-align: bottom;
	border: none;
}

.menu li a {
	font:bold 12px arial;
	display: table-cell;
	height: 80px;
	width: 830px;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	color: #fff;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #4E4E46;
}

.menu li a:hover {
	color: #EEFFB7;
}

.nav:after {
	display: block;
	content: '';
	clear: both;
}

.main-header {
	font: 100px 'calibri', sans-serif;
	color: #4E4E46;
	margin: 40px 0 30px 0;
}

.somemenu {
	width: 43%;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #393935;
	margin-left: 30px;
}

.list {
	padding-bottom: 10px;
}

.list:before {
	content: '';
	display: block;
	width: 10px;
	height: 12px;
	background: url(../img/galka.png) no-repeat;
	position: relative;
	top: 15px;
	left: -5%;
}

.some__list2:before {
	top: 15px;
}

.free-lesson {
	font: 45px "calibri", sans-serif;
	color: #4E4E46;
	width: 50%;
	padding: 60px 0;
} 

.free-lesson span {
	font-weight: 600;
}

.input1,
.input2,
.input3,
.input4 {
	width: 23%;
	float: left;
}

.input4 {
	width: 30%;
}

.input1 p,
.input2 p,
.input3 p,
.input4 p {
 	color: #4E4E46;
 	font: 14px 'Open Sans', sans-serif;
 	margin: 0 0px 5px 15px;
}

.input1 input,
.input2 input,
.input3 input,
.input4 input {
	width: 88%;
	background: transparent;
	border: none;
	border: 2px solid #C2C58C;
	color: #C2C58C;
	border-radius: 30px;
	padding: 15px 25px;
	font: 16px 'Open Sans', sans-serif;
} 

.input4 input {
	cursor: pointer;
	text-transform: uppercase;
	background-color: #D7FF52;
	color: #4E4E46;
	font-family: "Open Sans";
	font-weight: 600;
	border: none;
	letter-spacing: 1.5px;
}

.num {
	width: 20%;
	float: left;
}

.many-nambers {
	padding: 60px 0; 
	overflow: hidden;
}

.num h3 {
	font: 60px "calibri", sans-serif;
	text-align: center;
	color: #fff;
	padding-bottom: 15px;
}

.num p {
	color: #fff;
	font: 16px 'Open Sans', sans-serif;
	text-align: center;
	width: 96%;
	margin: 0 auto;
} 

.num p span {
	font-weight: 700;
}

.num .fix {
	width: 50%;
}

.section1 {
	background: #eee;
}

.study {
	color: #4E4E46;
	font:700 28px "calibri", sans-serif;
	text-align: center;
	padding: 100px 0 25px;
}

.study:before {
	content: '';
	display: block;
	width: 60px;
	height: 1px;
	background: #AEAEAB;
	position: relative; 
	top: 18px;	
	left: 24%;
} 

.study:after {
	content: '';
	display: block;
	width: 60px;
	height: 1px;
	background: #AEAEAB;
	position: relative; 
	top: -18px;	
	left: 70%;
} 

.study_text {
	color: #766862;
	font: 18px "Open Sans";
	text-align: center;
}

.hall {
	color: #4E4E46;
	font:700 28px "calibri", sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding: 40px 0 25px;
}
.text {
	float: left;
	width: 40%;
	background: #61A0BB;
}

.map__and__text {
	/*padding: 50px 0; */
}

.map {
	float: left;
	width: 60%;
	height: 540px;
	background: url(../img/street-kiev.jpg) no-repeat center;
	background-size: cover;
}

.text_header {
	color: #fff;
	font: 24px "calibri", sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding: 25px 0 0px;
	letter-spacing: 1px;
}

.adress {
	color: #fff;
	font: 16px "Open Sans", sans-serif;
	text-align: center;
	padding-bottom: 30px;
} 

.discription {
	font: 14px  "Open Sans", sans-serif;
	color: #fff;
	width: 65%;
	margin: 0 auto;
}

.list_item {
	padding-bottom: 12px;
	line-height: 15px;
}

.discription:last-child {
	padding-bottom: 37px;
}

.list_item:before {
	content: '';
	display: block;
	width: 15px;
	height: 16px;
	background: url(../img/change.png);
	position: absolute;
	left: 42px;
}

.map__and__text {
	position: relative;
	top: 26px;
	-webkit-box-shadow: 0px 10px 78px -43px rgba(0,0,0,1);
	-moz-box-shadow: 0px 10px 78px -43px rgba(0,0,0,1);
	box-shadow: 0px 10px 78px -43px rgba(0,0,0,1);
}

.section2 {
	width: 100%;
	background: url(../img/second-bg.jpg) no-repeat 44% 0;
	background-size: cover;
}

.black,
.white {
	width: 290px;
	float: right;
	margin-top: 100px;
}

.white {
	background-color: #fff;
	position: relative;
	right: -23px;
	-webkit-box-shadow: 20px 0px 61px -12px rgba(0,0,0,0.74);
	-moz-box-shadow: 20px 0px 61px -12px rgba(0,0,0,0.74);
	box-shadow: 20px 0px 61px -12px rgba(0,0,0,0.74);
}

.black {
	background-color: #777C80;
	margin-top: 130px;
	-webkit-box-shadow: 0px 0px 85px -55px rgba(0,0,0,0.74);
	-moz-box-shadow: 0px 0px 85px -55px rgba(0,0,0,0.74);
	box-shadow: 0px 0px 85px -55px rgba(0,0,0,0.74);
}

.old-group {
	color: #7A9911;
	text-transform: uppercase;
	font:24px "calibri", sans-serif;
	width: 63%;
	text-align: center;
	margin: 35px auto 20px;
}

.old-group span {
	font-weight: bold;
} 

.times {
	font: 22px 'Open Sans', sans-serif;
	color: #60697D;
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

.times span {
	font-weight: 600;
}

.young-group {
	color: #F88DA5;
	text-transform: uppercase;
	font:24px "calibri", sans-serif;
	width: 63%;
	text-align: center;
	margin: 35px auto 20px;
}

.young-group span {
	font-weight: bold;
} 

.place {
	font: 14px 'Open Sans', sans-serif;
	text-align: center;
	color: #7A9911;
	margin-top: 40px;
}

.place span {
	font-weight: bold;
}

.fix-col {
	color: #E68BA0;
}

.price {
	font: 24px 'Open Sans', sans-serif;
	color: #60697D;
	text-align: center;
	margin: 30px 0 20px;
}

.price span {
	font-weight: 600;
}
.fix-color {
	color: #fff;
}

.some-button,
.some-button {
	padding: 5px 20px;
	color: #fff;
	background-color: #B0CC53;
	border: none;
	text-transform: uppercase;
	font:bold 14px 'calibri', sans-serif;
	border-radius: 18px;
	letter-spacing: .5px;
}

.buy {
	width: 43%;
	margin: 0 auto 36px;
}

.black {
	margin-bottom: 45px;
}

.section3 {
	background: #EEEEEE;
}

.fix-text-float {
	float: right;
	width: 40%;
	background: #89C689;
	height: 540px;
}
.fix-map-float {
	float: right;
	width: 60%;
}

.fix-list-item:before {
	left: 645px;
}

.section4 {
	background: url(../img/third-bg.jpg) no-repeat 45% 0;
	background-size: cover;
}

.some-white {
	float: left;
	position: relative;
	left: 25px;
	top: 56px;
}

.some-black {
	float: left;
	position: static;
	margin: 130px 0 60px;
}

.section5 {
	background-color: #fff;
}

.some-header {
	font:bold 16px 'Open Sans', sans-serif ;
	text-align: center;
	padding: 55px 0;
}

.four_block {
	width: 25%;
	float: left;
}

.four-bg1 {
	width: 226px;
	height: 226px;
	background: url(../img/1.jpg) no-repeat;
	background-size: cover; 
	margin: 0 auto;
}

.four-bg2 {
	width: 226px;
	height: 226px;
	background: url(../img/2.jpg) no-repeat;
	background-size: cover; 
	margin: 0 auto;
}

.four-bg3 {
	width: 226px;
	height: 226px;
	background: url(../img/3.jpg) no-repeat;
	background-size: cover; 
	margin: 0 auto;
}

.four-bg4 {
	width: 226px;
	height: 226px;
	background: url(../img/4.jpg) no-repeat;
	background-size: cover; 
	margin: 0 auto;
}

.four-p {
	font: 16px 'Open Sans', sans-serif;	
}

.four-span {
	font: bold 16px 'Open Sans', sans-serif;
}

.fix-span {
	display: block;
}

.four-text {
	padding: 40px 0 70px 12px;
}

.section6 {
	background: url(../img/fourth-bg.jpg) no-repeat -211px 0;
	background-size: cover; 
	overflow: hidden;
}

.fix-input input {
	width: 95%;
	background: #D1D1D0;
	color: #988F8B;
	border: none;
}

.fix-input p {
	color: #fff;
	padding-left: 12px;
}

.fix-color-free-lesson {
	color: #fff;
	margin-left: 30px;
}
.fix-information {
	padding-bottom: 60px;
}

.some_menu {
	padding: 0 0 60px 0;
	width: 80%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.somelist1,
.somelist2,
.somelist3 {
	color: #fff;
	width: 33%;
	float: left;
	font: 14px 'Open Sans', sans-serif;
	padding-left: 50px;
}

.add_stud:before {
	content: '';
	width: 20px;
	height: 20px;
	background: url(../img/knopka.png) no-repeat ;
	display: block;
	position: relative;
	top: 25px;
	right: 50px;
}

.section7 {
	background: /*#F4F3F2*/ url(../img/some-bg.jpg) no-repeat 50% 0%;
	background-size: 155%;
	overflow: hidden;
}

.block_some {
	float: left;
	width: 25%;
}

.three_block {
	width: 33%;
	float: left;
	overflow: hidden;
}
.second_block_bg1,
.second_block_bg2,
.second_block_bg3,
.second_block_bg4 {
	width: 96px;
	height: 80px;
	margin: 0 auto;
}

.second_block_bg1 {
	background: url(../img/home.png) no-repeat;
}

.second_block_bg2 {
	background: url(../img/glassess.png) no-repeat;
	width: 95px;
}

.second_block_bg3 {
	background: url(../img/3.3.png) no-repeat;
	width: 74px;
}

.second_block_bg4 {
	background: url(../img/shoes.png) no-repeat;
	width: 52px;
}

.some_bg1,
.some_bg2, 
.some_bg3 {
	width: 96px;
	height: 80px;
	margin: 0 auto;
}

.some_bg1 {
	background: url(../img/pedagog.png) no-repeat;
	width: 37px;
}
.some_bg2 {
	background: url(../img/lamp.png) no-repeat;
	width: 48px;
}
.some_bg3 {
	background: url(../img/dessert.png) no-repeat;
	width: 79px;
}

.second_four_block {
	padding: 80px 0 0;
	overflow: hidden;
}

.with_three {
	width: 75%;
	margin: 75px auto;
	overflow: hidden;
}

.second_block_text {
	font: 600 16px 'Open Sans', sans-serif;
	color: #4E4E46;
	width: 89%;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px; 
}

.fix_text {
	width: 86%;
}

.three_p {
	font: 600 16px 'Open Sans', sans-serif;
	color: #4E4E46;
	width: 76%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px; 
}

.three_p {
	padding-bottom: 40px;
}

input {
	outline: none;
}

.some_color {
	color: #EEFFB7;
	padding: 0px 0 50px;
}

.fix_gal:before {
	left: 340px;
}

.fix_gal:after {
	left: 600px;
}

/*start style forr slider*/

.sl_slide {
	width: 215px;
	height: 228px;
	overflow: hidden;
	margin: 50px 0 60px;
}

.sl {
	width:100% ;
	margin: 0 auto;
}

.sl_image1 {
	background:  url(../img/1slide.jpg) 60% 0;
	background-size: cover;
	width: 93%;
	height: 228px;
	margin: 30px 5px 60px;
}

.sl_image2 {
	background: url(../img/2slide.jpg) 60% 0;
	background-size: cover;
	width: 93%;
	height: 228px;
	margin: 30px 5px 60px;

}

.sl_image3 {
	background: url(../img/3slide.jpg) 60% 0;
	background-size: cover;
	width: 93%;
	height: 228px;
	margin: 30px 5px 60px;

}

.sl_image4 {
	background: url(../img/4slide.jpg) 60% 0;
	background-size: cover;
	width: 93%;
	height: 228px;
	margin: 30px 5px 60px;

}

.sl_image5 {
	background: url(../img/5slide.jpg) 60% 0;
	background-size: cover;
	width: 93%;
	height: 228px;
	margin: 30px 5px 60px;

}

.sl_image6 {
	background: url(../img/6slide.jpg) 60% 0;
	background-size: cover;
	width: 93%;
	height: 228px;
	margin: 30px 5px 120px;

}

.rgba {
	background: rgba(255,255,255,.8);
	width: 100%;
	height: 230px;
}

.slick-center div{
	background: rgba(255,255,255,.1);
	transition: all .8s ease-in-out;
}

.section9 {
	background: #EEEEEE;
}

.fix_h2:before {
	left: 290px;
}

.fix_h2:after {
	left: 655px;
}


.fix_study {
	width: 45%;
	margin: 0 auto;
	padding-bottom: 60px;
}

.bg_one {
	background: url(../img/perp1.jpg);
	background-size: cover;
}
.bg_two {
	background: url(../img/prep2.jpg);
	background-size: cover;
}
.bg_three {
	background: url(../img/prep3.jpg);
	background-size: cover;
}
.bg_four {
	background: url(../img/prep4.jpg);
	background-size: cover;
	overflow: hidden;
}

.fix_span {
	display: block;
	text-align: center;
	padding-bottom: 20px;
}

.fix_four_p {
	text-align: center;
	width: 89%;
	margin: 0 auto;
	font-size: 14px;
	padding-right: 10px;: 
}

.fixp {
	width: 70%;
}

.section10 {
	background: url(../img/fifth-bg.jpg);
	background-size: cover;
}

.section11 {
	background: #fff;
}

.quote {
	width: 79px;
	height: 65px;
	margin: 46px auto 60px;
	background: url(../img/“.png) no-repeat;
}

.sl_text_p {
	font: 18px 'Open Sans', sans-serif;
	color: #282528;
	text-align: center;
	width: 97%;
	margin: 0 auto;
}

.sl_img {
	width: 100px;
	height: 100px;
	margin: 55px auto 30px;
	background: url(../img/women-for-slide.png);
}

.sl_span {
	font:700 16px "Open Sans", sans-serif;
	text-align: center;
	display: block;
	color: #282528;
}

.sl_p {
	font:600 13px "Open Sans", sans-serif;
	text-align: center;
	display: block;
	color: #646464;
}

.sl_p_span {
	margin: 0 0 80px 0;
}

.section12 {
	background: url(../img/bg-with-question.jpg) no-repeat 80% 0;
	background-size: cover;
}

.question {
	background: #E5E2DE;
	margin: 16px 0;
	padding: 0px 60px 20px;
	border-radius: 10px;
}

.block_question {
	padding: 60px 0;
}

.question_p, .question_p2 {
	font:600 16px "Open Sans", sans-serif;
	color: #4E4E46;
	position: relative;
	cursor: pointer;
}

.answer_p {
	font: 14px "Open Sans", sans-serif;
	color: #585850;
}

.answer {
	padding: 15px 30px;
}

.answer_p {
	width: 80%;
}

.question_p:before {
	content: '';
	display: block;
	width: 12px;
	height: 18px;
	background: url(../img/question.png);
	position: relative;
	left: -35px;
	top: 20px;
	cursor: pointer;
}

.question_p:after  {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	background: url(../img/plus.png);
	position: absolute;
	left: 102%;
	top: 20px;
	cursor: pointer;
}

.some-div, 
.some-div2,
.some-div3,
.some-div4,
.some-div5 {
	display: none;
}

.some-div {
	display: block;
} 

.text-trigger4 p {
	width: 80%;
}

.text_left {
	width: 35%;
	float: left;
	font: 16px "Open Sans", sans-serif;
	color: #4E4E46;
	margin-right: 10%;
}

.input_right {
	width: 55%;
	float: left;
}

.question_header {
	font: 24px 'calibri', sans-serif;
	color: #4E4E46;
	padding-bottom: 15px;
}

.some_input1 input,
.some_input2 input,
.some_input3 input,
.some_input4 input {
	width: 100%;;
	border: none;
	border-bottom:  1px solid #BEBEBE;
	background: #EEEEEE;
	color: #A4A9AE;
}

.p_input {
	font: 13px "Open Sans", sans-serif;
	color: #A4A9AE;
	padding-top: 30px; 
}

.some_input4 input {
	width: 50%;
	background: #9AB6B9;
	color: #fff;
	font: 16px "Open Sans", sans-serif;
	letter-spacing: 1px;
	border-radius: 40px;
	margin: 50px 0 60px;
	padding: 20px 0;
	cursor: pointer;
}

.video_text {
	float: left;
	width: 35%;
}

.text_some_header {
	font: 30px 'calibri', sans-serif;
	color: #4E4E46;
	margin: 10px 0 10px;
	width: 75%;
}

.some_h2 {
	padding: 80px 0 60px;
}

.video_li {
	font: 16px "Open Sans", sans-serif;
}

.video_li:before {
	content: '';
	display: block;
	width: 7px;
	height: 12px;
	background: url(../img/blue-check.png) no-repeat;
	position: relative;
	left: -22px;
	bottom: -18px;
	
}

.video_ul {
	padding-left: 25px;
	width: 76%;
	position: relative;
}

.video_span {
	font-weight: 700;
}

.video_block {
	width: 60%;
	float: left;
	margin-bottom: 100px;
}

.section14 {
	background: url(../img/sixth-bg.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
}

.contact_p {
	font: 16px "Open Sans", sans-serif;
}

.call_us {
	color: #5A5A52;
	font: 16px "Open Sans", sans-serif;
	width: 68%;
	text-align: center;
	margin: 0 auto;
}

.phone,
.letter,
.our_adress {
	width: 28%;
	margin: 0 auto;
	float: left;
	padding: 70px 0 40px;
	margin-right: 4%;
}

.letter {
	margin-right: 8%
}

.fix_fs_contavts {
	font-weight: 600;
}

.nambers p span {
	font-size: 13px;
}

.icon {
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 5%;
}

.icon1 {
	background: url(../img/contact-phone.png) no-repeat; 
}

.icon2 {
	background: url(../img/contact-letter.png) no-repeat; 
}

.icon3 {
	background: url(../img/contact-address.png) no-repeat; 
}

.block_with_contacts {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.mail {
	float: left;
	width: 65%;
}

.numbers {
	float: left;
	width: 65%;	
}

.some_adress {
	float: left;
	width: 65%;
}

.section16 {
	background: url(../img/map-footer-bg.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 393px;
}

.refer,
.copy {
	font: 14px "Open Sans", sans-serif;
	color: #8C8C7D;
	float: left;
}

.refer {
	float: right;
}

.refer p a {
	text-decoration: none;
	color: #61A0BB;
}

.footer p {
	line-height: 50px;
}

.with_four_block {
	width: 100%;
	margin: 0 auto; 
}

.headhesive {
	position: fixed;
	width: 100%;
	transform: translateY(-100%);
	transition: .7s;
	background: rgba(255,255,255,.9);
	z-index: 10000;
}

.headhesive--stick {
	transform: translateY(0);
}

.menu-trigger {
	display: none;
}

.menu-icon {
	display: none;
}

.social_network {
	width: 30%;
	margin: 0 auto;
	overflow: hidden;
}
.icon_vk,
.icon_fb,
.icon_inst {
	float: left;
	margin: 0 9%;
	width: 15%;
	text-align: center;
	padding-bottom: 50px;
}

.icon_vk a,
.icon_fb a,
.icon_inst a {
	text-decoration: none;
	display: block;
	border-radius: 8px;
}

.icon_vk a {
	display: block;
	padding: 5px 2px 5px 0;
	color: #fff;
	background: #507299;
	border: 1px solid #507299;
	transition: .5s;
}

.icon_vk a:hover {
	color: #507299;
	background: #fff;
	border: 1px solid #507299;
}
.icon_fb a:hover {
	color: #3B5998;
	background:  #FDFEFE;
	border: 1px solid  #3B5998;
}
.icon_inst a:hover {
	background: #9202e7;
}

.icon_fb a {
	padding: 5px 2px 5px 0;
	color: #FDFEFE;
	background: #3B5998;
	border: 1px solid #FDFEFE;
	transition: .5s;

}

.icon_inst a {
	padding: 5px 2px 5px 3px;
	
	color: #fff;
	background: #DF8540;
    transition: .5s;
}

.some-button {
	text-decoration: none;
}


/*media*/

@media screen and (min-width: 1680px) {
	.section7 {
		background-size: cover;
		background-position: center;:  
	}
	.menu li a {
		font-size: 14px;
	}
}


@media screen and (min-width: 2500) {
	.menu li a  {
		font-size: 20px;
	}
}

/**/

@media screen and (max-width: 1050px) {
	.logo-header {
		font-size: 32px;
	}
	.fix-list-item:before {
		left: 603px;
	}
	.section7 {
		background-size: cover;
		background-position: center;
	}
	.three_p,
	.second_block_text {
		font-size: 15px;
	}
	.fix_gal:after {
		left: 548px;
	}
	.fix_h2:after {
		left: 595px;
	}
	.fix_four_p {
		font-size: 13px;
	}
	.four-span {
		font-size: 15px;
	}
	.text_some_header {
		width: 70%;
		font-size: 26px;
		margin-top: 25px;
	}
	.video_li {
		font-size: 15px;
	}
	.block_with_contacts {
		width: 94%;
	}
	.header {
		background-position: 60% 0;
	}
}

@media screen and (max-width: 985px) {
	.menu li a {
		font-size: 12px;
	}
	.menu {
		float: none;
	}
	.logo-header {
		font-size: 28px;
	}
	.logo p {
		font-size: 16px;
	}
	.logo {
		margin-top: 15px;
	}
}

@media screen and (max-width: 780px) {
	.logo-header {
		font-size: 24px;
	}
	.logo p {
		font-size: 12px;
	}
	.logo {
		margin-top: 18px;
	}
	.menu li a {
		font-size: 10px;
	}
	.header {
		background-size: cover;
	}
	.main-header {
		font-size: 75px;
	}
	.somemenu  {
	font-size: 14px;
	}
	.list-item8 {
		margin-left: 10px;
	}
	.free-lesson {
		font-size: 35px;
		color: #333;
	}
	.input1 input, .input2 input, .input3 input, .input4 input {
		width: 94%;
		font-size: 14px;
	}
	.input4 input {
		letter-spacing: 0.8px;
		font-size: 12px;
		padding: 17px;
	}
	.num h3 {
		font-size: 50px;
	}
	.num p {
		font-size: 14px;
	}
	.study {
		font-size: 24px;
	}
	.study:before {
		top: 16px;
		left: 18%;
	}
	.study:after {
		top: -15px;
		left: 73%;
	}
	.study_text {
		font-size: 14px;
	}
	.hall {
		font-size: 24px;
	}
	.discription {
		font-size: 10px;
	}
	.discription:last-child {
		padding-bottom: 38px;
	}
	.list_item:before {
		left: 23px;
	}
	.list-item8 { 
	 	margin-left: 0;
  }
  .fix-list-item:before {
  	left: 435px;
  }
  .text_header {
  	font-size: 20px;
  }
  .text {
  	height: 540px;
  }
	.four_block {
		width: 23%;
		margin-right: 2.5%;
	}
	.four_block:last-child {
		margin-right: 0;
	}
	.four-bg1,
	.four-bg2,
	.four-bg3,
	.four-bg4 {
		width: 100%;
	}
	.four-p {
		font-size: 12px;
	}
	.four-span {
		font-size: 12px;
	}
	.some-header {
		font-size: 14px;
	}
	.three_p, .second_block_text {
		font-size: 12px;
	}
	.sl_image1 {
		   background: url(../img/1slide.jpg) 0% 66%;
		   background-size: cover;
	}
		.sl_image2 {
		   background-size: cover;
		   background: url(../img/2slide.jpg) 25% 12%;
	}
		.sl_image3 {
			background-size: cover;
		   background: url(../img/3slide.jpg) 36% 37%;
	}
		.sl_image4 {
			background-size: cover;
		   background: url(../img/4newslide.jpg) 62% 34%;
	}
		.sl_image5 {
			background-size: cover;
		   background: url(../img/5slide.jpg) -18% 19%;
	}
		.sl_image6 {
			background-size: cover;
		   background: url(../img/6slide.jpg) 40% 11%;
	}
	.fix_four_p {
		width: 100%;
		font-size: 9px;
	}
	.fix-color-free-lesson {
		color: #fff;
	}
	.text_left {
		font-size: 14px;
	}
	.some_input4 input {
		padding: 14px 0;
		font-size: 14px;
	}
	.text_some_header {
		font-size: 20px;
	}
	.video_li {
		font-size: 13px;
	}
	.some_video {
		padding-right: 85px;
		padding-top: 10px;
	}
	.somelist1, .somelist2, .somelist3{
		font-size: 12px;
	}
	.study_text {
		font-size: 13px;
	}
	.sl_text_p {
		font-size: 16px;
	}
	.nambers p span {
		font-size: 10px;
	}
	.nambers p {
		font-size: 12px;
	}
	.nambers {
		padding-top: 10px;
	}
	.mail {
		width: 61%;
		padding-top: 10px;
	}

	.mail p {
		font-size: 12px;
	}
	.some_adress {
		width: 61%;
		padding-top: 10px;
	}
	.some_adress p {
		font-size: 12px;
	}
	.some_adress p span {
		font-size: 9px;
	}
	.phone, .letter, .our_adress {
		margin-right: 2%;
	}	
	.letter {
		margin-right: 9%;
	}
	.phone {
		margin-right: 3%;
	}
}

@media screen and (min-width: 320px) and (max-width: 720px) {
	.logo {
		margin-top: 5px;
		width: 100%
	}
	.logo p {
		font-size: 14px;
	}
	.menu li {
		display: block;
		height: 45px;
		
	}
	.menu li:hover {
		border-bottom: 1px solid #EEFFB7;
	}
	.menu li a {
		height: 0;
		line-height: 45px;
		font-size: 12px;
	}
	.sl_text_p {
		font-size: 12px;
	}
	.logo {
		padding: 0px 0 7px 0px;
	}
	.menu-icon {
		display: block;
		text-decoration: none;
		position: absolute;
		top: 10px;
		left: 89%;
		cursor: pointer;
		color: #4E4E46;
	}
	.header {
		background-position: 79% 0;
	}
	.menu {
		display: none;
		margin-left: 0;
		padding-top: 50px;
		max-width: none;
		min-width: 0;
	}
	.header {
		overflow: hidden;
	}
	.nav {
		background: #61A0BB;
	}
	.container {
		padding: 0 20px;
	}
	.main-header {
		font-size: 50px;
		color: #eee;
		text-align: center;
	}

	.somemenu { 
		font-size: 12px;
		margin-left: 15px;
	}
	.free-lesson {
		font-size: 28px;
		width: 100%;
		color: #eee;
		padding: 103px 0 47px;
		margin-left: 0;
	}
	.list {
		color: #eee;
	}
	.list:before {
		top: 13px;
		left: -8%;
	}
	.some__list2:before {
		top: 13px;
	}
	.somemenu {
		width: 57%;
	}
	.input1, .input2, .input3, .input4 {
		width: 100%;
		float: none;
	}
	.input1 input, .input2 input, .input3 input, .input4 input {
		width: 100%;
	}
	.some_color {
		padding: 0 0 12px;
	}
	.num h3 {
		font-size: 30px;
	}
	.num p {
		font-size: 8px;
	}
	.study {
		font-size: 18px;
	}
	.study:before {
		width: 40px;
		top: 12px;
    left: -4%;
	}
	.study:after {
		width: 40px;
		top: -12px;
    left: 90%;
	}
	.fix_gal:before {
		left: 19%;
	}
	.fix_gal:after {
		left: 66%;
	}
	.hall {
		font-size: 20px;
	}
	.text {
		height: 607px;
		float: none;
		width: 100%;
	}
	.map {
		width: 100%;
		float: none;
	}
	.black, .white {
		float: none;
		width: 80%;
		margin: 0 auto;
		-webkit-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.85);
		-moz-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.85);
		box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.85);
	}
	.young-group, .old-group {
		padding-top: 40px;
		font-size: 20px;
		width: 69%;
	}
	.main {
		overflow: hidden;
		background: #EEEEEE;
	}
	.fix-padding {
		padding-top: 50px;
	}
	.buy {
		width: 55%;
		padding-bottom: 20px;
		margin: 0 auto -8px;
	}
	.times {
		width: 57%;
		font-size: 16px
	}
	.white {
		position: static;
		margin-bottom: 50px;
	}
	.price {
		font-size: 20px;
	}
	.section2 {
		overflow: hidden;
	}
	.old-group {
		margin-top: 6px;
	}
	.list_item {
		font-size: 14px;
	}
	.fix-list-item:before {
		left: 28px;
	}
	.fix-text-float {
		height: 436px;
	}
	.section4 {
		padding-top: 100px;
		overflow: hidden;
		padding-bottom: 50px;
	}
	.some-white {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.fix-group {
		margin: 5px auto 20px;
	}
	.fix-group {
		width: 100%;
	}
	.four-bg1, .four-bg2, .four-bg3, .four-bg4 {
		height: 293px;
		-webkit-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.85);
		-moz-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.85);
		box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.8);
	}
	.four_block {
		width: 100%;
	}
	.four-p {
		text-align: center;
		font-size: 70%;
	}
	.four-span {
		font-size: 129%;
	}
	.fix-input p {
		padding: 10px 0;
	}
	.add_stud:before {
		right: 30px;
	}
	.somelist1, .somelist2, .somelist3 {
		padding-left: 30px;
		font-size: 14px;
		width: 100%;
		float: none;
	}
	.fix-information {
		padding-bottom: 30px;
	}
	.fix_padding_mobile {
		padding: 60px 0 25px;
	}
	.second_four_block {
		padding-top: 30px;
	}
	.second_block_bg4 {
		width: 45px;
	}
	.three_block {
		width: 100%;
		float: none;
	}
	.with_three {
		width: 100%;
		margin-top: 0px;
	}
	.three_p, .second_block_text {
		font-size: 16px;
		width: 58%;
	}
	.second_block_text {
		padding-bottom: 47px;
	}
	.block_some {
		width: 100%;
		float: none;
	}
	.section7 {
		background: #F4F3F2 url();
	}
	.slick-prev {
		z-index: 100;
		left: 1px;
	}
	.slick-next {
		right: 3px;
	}
	.section8 {
		background: #fff;
		overflow: hidden;
	}
		.section13 {
		background: #fff;
		overflow: hidden;
	}
	.fix_h2 {
		font-size: 22px;
	}
	.answer_p {
		width: 100%;
		font-size: 12px;
		padding-top: 12px;
	}
	.answer {
		padding: 0;
		margin-left: 25px;
	}
	.question {
		padding: 0 35px 20px;
	}
	.question_p:before {
		left: -22px;
	}
	.question_p, .question_p2 {
		font-size: 15px;
	}
	.text_left {
		float: none;
		width: 100%;
		text-align: center;
		padding: 0 50px 30px;
	}
	.input_right {
		float: none;
		width: 100%;
		padding: 0 30px;
	}
	.question_header {
		text-align: center;
		padding-top: 50px;
	}
	.some_input4 input {
		width: 100%;
	}
	.some_input4 {
		width: 75%;
		margin: 0 auto;
	}
	.video_text {
		float: none;
		width: 100%;
	}
	.video_block {
		float: none;
		width: 100%;
	}
	.text_some_header {
		width: 100%;
	}
	.video_ul {
		margin: 0 auto 40px;
	}
	.some_video {
		padding-right:  0;
	}
	.input1, .input2, .input3, .input4 {
		width: 75%;
		margin: 0 auto;
	}
	.input4 input {
		margin-top: 10px;
	}
	.phone, .letter, .our_adress {
		width: 77%;
		float: none;
		padding: 0;
		overflow: hidden;
		margin: 0 auto;
		padding-top: 25px;
	}
	.phone {
		padding-top: 50px;
	}
	.our_adress {
		padding-bottom: 80px;
	}
	.section16 {
		background: url(../img/map-footer-bg.jpg) no-repeat 52% 0;
		background-size: cover;
	}
	.refer, .copy {
		float: none;
		font-size: 12px;
	}
	.footer p {
		text-align: center;
	}
	.fix_study {
		width: 53%;
	}
	.social_network {
		width: 100%;
	}
	.buy {
		width: 125px;
	}
}


